In [1]:
import pandas as pd

data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data)
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4      Eva   45        Seattle

In [2]:
import pandas as pd

data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data)
df[0]

KeyError: 0

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data)
print(df)
df.loc[0]

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4      Eva   45        Seattle

Name       Alice
Age           25
City    New York
Name: 0, dtype: object

In [4]:
import pandas as pd

data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data)
print(df)
df.iloc[0]

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4      Eva   45        Seattle

Name       Alice
Age           25
City    New York
Name: 0, dtype: object

In [25]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.iloc[0]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

Name       Alice
Age           25
City    New York
Name: A, dtype: object

In [33]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.iloc["E"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

TypeError: Cannot index by location index with a non-integer key

In [35]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.loc["E"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

Name        Eva
Age          45
City    Seattle
Name: E, dtype: object

In [36]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df["E"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

KeyError: 'E'

In [52]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df["Name"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

A      Alice
B        Bob
C    Charlie
D      David
E        Eva
Name: Name, dtype: object

In [53]:
type(df["Name"])

pandas.core.series.Series

In [54]:
type(df.loc["E"])

pandas.core.series.Series

In [57]:
df["Age"]

A    25
B    30
C    35
D    40
E    45
Name: Age, dtype: int64

In [59]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.loc["C"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

Name        Charlie
Age              35
City    Los Angeles
Name: C, dtype: object

In [63]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.iloc[1:3]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

      Name  Age           City
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles

In [65]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.iloc[1, 0]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

'Bob'

In [66]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.iloc[1, 2]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

'San Francisco'

In [73]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.loc["A":"B"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

    Name  Age           City
A  Alice   25       New York
B    Bob   30  San Francisco

In [74]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.loc["B":"D"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

      Name  Age           City
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago

In [75]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.loc["B", "City"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

'San Francisco'

In [77]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.loc["B":"D", "City"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

B    San Francisco
C      Los Angeles
D          Chicago
Name: City, dtype: object

In [78]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.loc["B":"D", "Name":"City"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

      Name  Age           City
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago

In [84]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.loc["B":"D", "Name":"Age"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

      Name  Age
B      Bob   30
C  Charlie   35
D    David   40

In [85]:
import pandas as pd


data = {
    'Name': ['Alice', "Bob", "Charlie", 'David', 'Eva'],
    "Age": [25, 30, 35, 40 , 45],
    "City": ["New York", "San Francisco", 'Los Angeles', "Chicago", "Seattle"]
}

df = pd.DataFrame(data=data, index=['A', "B", "C", "D", "E"])
print(df)
df.loc["B", "Name":"Age"]

      Name  Age           City
A    Alice   25       New York
B      Bob   30  San Francisco
C  Charlie   35    Los Angeles
D    David   40        Chicago
E      Eva   45        Seattle

Name    Bob
Age      30
Name: B, dtype: object

In [86]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts

,username,phone_number,bio,last_seen,is_verified,is_private,total_messages,last_message_date,is_online
0,jfound0,730-393-9220,"Vestibulum quam sapien, varius ut, blandit non...",5/12/2021,False,True,9285,8/12/2020,False
1,gsoule1,244-674-2095,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",11/23/2022,False,False,4680,1/26/2020,True
2,ehendrich2,324-800-7471,"Mauris enim leo, rhoncus sed, vestibulum sit a...",3/11/2022,True,True,3412,3/11/2022,False
3,rkiernan3,874-302-6761,Duis consequat dui nec nisi volutpat eleifend....,3/23/2022,False,False,9182,6/11/2021,True
4,bcopp4,270-836-3899,Curabitur in libero ut massa volutpat convalli...,12/29/2020,False,False,6521,8/21/2021,False
...,...,...,...,...,...,...,...,...,...
995,delcouxrn,599-998-2051,Sed ante. Vivamus tortor. Duis mattis egestas ...,1/11/2021,True,False,5693,3/20/2021,True
996,cleadbeaterro,133-487-1114,Suspendisse potenti. In eleifend quam a odio. ...,3/1/2021,True,True,5394,11/7/2020,True
997,lbaynomrp,847-815-7187,Fusce posuere felis sed lacus. Morbi sem mauri...,10/10/2020,True,True,3473,3/9/2022,False
998,sarntzenrq,650-129-3220,Quisque porta volutpat erat. Quisque erat eros...,10/12/2022,True,True,1390,11/21/2022,True
999,rkingcottrr,433-656-5751,Cum sociis natoque penatibus et magnis dis par...,12/23/2020,False,True,6200,3/6/2020,True

In [87]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts.tail(5)

,username,phone_number,bio,last_seen,is_verified,is_private,total_messages,last_message_date,is_online
995,delcouxrn,599-998-2051,Sed ante. Vivamus tortor. Duis mattis egestas ...,1/11/2021,True,False,5693,3/20/2021,True
996,cleadbeaterro,133-487-1114,Suspendisse potenti. In eleifend quam a odio. ...,3/1/2021,True,True,5394,11/7/2020,True
997,lbaynomrp,847-815-7187,Fusce posuere felis sed lacus. Morbi sem mauri...,10/10/2020,True,True,3473,3/9/2022,False
998,sarntzenrq,650-129-3220,Quisque porta volutpat erat. Quisque erat eros...,10/12/2022,True,True,1390,11/21/2022,True
999,rkingcottrr,433-656-5751,Cum sociis natoque penatibus et magnis dis par...,12/23/2020,False,True,6200,3/6/2020,True

In [115]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts.iloc[-5:]

,username,phone_number,bio,last_seen,is_verified,is_private,total_messages,last_message_date,is_online
995,delcouxrn,599-998-2051,Sed ante. Vivamus tortor. Duis mattis egestas ...,1/11/2021,True,False,5693,3/20/2021,True
996,cleadbeaterro,133-487-1114,Suspendisse potenti. In eleifend quam a odio. ...,3/1/2021,True,True,5394,11/7/2020,True
997,lbaynomrp,847-815-7187,Fusce posuere felis sed lacus. Morbi sem mauri...,10/10/2020,True,True,3473,3/9/2022,False
998,sarntzenrq,650-129-3220,Quisque porta volutpat erat. Quisque erat eros...,10/12/2022,True,True,1390,11/21/2022,True
999,rkingcottrr,433-656-5751,Cum sociis natoque penatibus et magnis dis par...,12/23/2020,False,True,6200,3/6/2020,True

In [140]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts.loc[:, 'bio']

0      Vestibulum quam sapien, varius ut, blandit non...
1      Proin eu mi. Nulla ac enim. In tempor, turpis ...
2      Mauris enim leo, rhoncus sed, vestibulum sit a...
3      Duis consequat dui nec nisi volutpat eleifend....
4      Curabitur in libero ut massa volutpat convalli...
                             ...
995    Sed ante. Vivamus tortor. Duis mattis egestas ...
996    Suspendisse potenti. In eleifend quam a odio. ...
997    Fusce posuere felis sed lacus. Morbi sem mauri...
998    Quisque porta volutpat erat. Quisque erat eros...
999    Cum sociis natoque penatibus et magnis dis par...
Name: bio, Length: 1000, dtype: object

In [142]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts['bio']

0      Vestibulum quam sapien, varius ut, blandit non...
1      Proin eu mi. Nulla ac enim. In tempor, turpis ...
2      Mauris enim leo, rhoncus sed, vestibulum sit a...
3      Duis consequat dui nec nisi volutpat eleifend....
4      Curabitur in libero ut massa volutpat convalli...
                             ...
995    Sed ante. Vivamus tortor. Duis mattis egestas ...
996    Suspendisse potenti. In eleifend quam a odio. ...
997    Fusce posuere felis sed lacus. Morbi sem mauri...
998    Quisque porta volutpat erat. Quisque erat eros...
999    Cum sociis natoque penatibus et magnis dis par...
Name: bio, Length: 1000, dtype: object

In [143]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts.loc[1:5, 'phone_number':'bio']

   phone_number                                                bio
1  244-674-2095  Proin eu mi. Nulla ac enim. In tempor, turpis ...
2  324-800-7471  Mauris enim leo, rhoncus sed, vestibulum sit a...
3  874-302-6761  Duis consequat dui nec nisi volutpat eleifend....
4  270-836-3899  Curabitur in libero ut massa volutpat convalli...
5  287-651-4316  Sed sagittis. Nam congue, risus semper porta v...

In [170]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts.loc[:, 'username':'bio']

,username,phone_number,bio
0,jfound0,730-393-9220,"Vestibulum quam sapien, varius ut, blandit non..."
1,gsoule1,244-674-2095,"Proin eu mi. Nulla ac enim. In tempor, turpis ..."
2,ehendrich2,324-800-7471,"Mauris enim leo, rhoncus sed, vestibulum sit a..."
3,rkiernan3,874-302-6761,Duis consequat dui nec nisi volutpat eleifend....
4,bcopp4,270-836-3899,Curabitur in libero ut massa volutpat convalli...
...,...,...,...
995,delcouxrn,599-998-2051,Sed ante. Vivamus tortor. Duis mattis egestas ...
996,cleadbeaterro,133-487-1114,Suspendisse potenti. In eleifend quam a odio. ...
997,lbaynomrp,847-815-7187,Fusce posuere felis sed lacus. Morbi sem mauri...
998,sarntzenrq,650-129-3220,Quisque porta volutpat erat. Quisque erat eros...
999,rkingcottrr,433-656-5751,Cum sociis natoque penatibus et magnis dis par...

In [178]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

telegram_accounts.set_index('username')

,phone_number,bio,last_seen,is_verified,is_private,total_messages,last_message_date,is_online
username,,,,,,,,
jfound0,730-393-9220,"Vestibulum quam sapien, varius ut, blandit non...",5/12/2021,False,True,9285,8/12/2020,False
gsoule1,244-674-2095,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",11/23/2022,False,False,4680,1/26/2020,True
ehendrich2,324-800-7471,"Mauris enim leo, rhoncus sed, vestibulum sit a...",3/11/2022,True,True,3412,3/11/2022,False
rkiernan3,874-302-6761,Duis consequat dui nec nisi volutpat eleifend....,3/23/2022,False,False,9182,6/11/2021,True
bcopp4,270-836-3899,Curabitur in libero ut massa volutpat convalli...,12/29/2020,False,False,6521,8/21/2021,False
...,...,...,...,...,...,...,...,...
delcouxrn,599-998-2051,Sed ante. Vivamus tortor. Duis mattis egestas ...,1/11/2021,True,False,5693,3/20/2021,True
cleadbeaterro,133-487-1114,Suspendisse potenti. In eleifend quam a odio. ...,3/1/2021,True,True,5394,11/7/2020,True
lbaynomrp,847-815-7187,Fusce posuere felis sed lacus. Morbi sem mauri...,10/10/2020,True,True,3473,3/9/2022,False
sarntzenrq,650-129-3220,Quisque porta volutpat erat. Quisque erat eros...,10/12/2022,True,True,1390,11/21/2022,True
rkingcottrr,433-656-5751,Cum sociis natoque penatibus et magnis dis par...,12/23/2020,False,True,6200,3/6/2020,True

In [179]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

telegram_accounts.set_index('phone_number')

,username,bio,last_seen,is_verified,is_private,total_messages,last_message_date,is_online
phone_number,,,,,,,,
730-393-9220,jfound0,"Vestibulum quam sapien, varius ut, blandit non...",5/12/2021,False,True,9285,8/12/2020,False
244-674-2095,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",11/23/2022,False,False,4680,1/26/2020,True
324-800-7471,ehendrich2,"Mauris enim leo, rhoncus sed, vestibulum sit a...",3/11/2022,True,True,3412,3/11/2022,False
874-302-6761,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,3/23/2022,False,False,9182,6/11/2021,True
270-836-3899,bcopp4,Curabitur in libero ut massa volutpat convalli...,12/29/2020,False,False,6521,8/21/2021,False
...,...,...,...,...,...,...,...,...
599-998-2051,delcouxrn,Sed ante. Vivamus tortor. Duis mattis egestas ...,1/11/2021,True,False,5693,3/20/2021,True
133-487-1114,cleadbeaterro,Suspendisse potenti. In eleifend quam a odio. ...,3/1/2021,True,True,5394,11/7/2020,True
847-815-7187,lbaynomrp,Fusce posuere felis sed lacus. Morbi sem mauri...,10/10/2020,True,True,3473,3/9/2022,False
650-129-3220,sarntzenrq,Quisque porta volutpat erat. Quisque erat eros...,10/12/2022,True,True,1390,11/21/2022,True
433-656-5751,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,12/23/2020,False,True,6200,3/6/2020,True

In [224]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

telegram_accounts.loc[telegram_accounts.is_verified==True]

,username,phone_number,bio,last_seen,is_verified,is_private,total_messages,last_message_date,is_online
2,ehendrich2,324-800-7471,"Mauris enim leo, rhoncus sed, vestibulum sit a...",3/11/2022,True,True,3412,3/11/2022,False
6,pbowley6,381-752-8649,"Mauris enim leo, rhoncus sed, vestibulum sit a...",3/10/2021,True,True,8099,8/31/2022,False
7,etooting7,514-659-4184,Duis consequat dui nec nisi volutpat eleifend....,7/4/2022,True,True,8478,8/31/2020,True
8,talforde8,596-111-1142,Curabitur in libero ut massa volutpat convalli...,8/6/2020,True,True,350,7/14/2022,False
10,hkalinskya,994-997-9390,Duis consequat dui nec nisi volutpat eleifend....,6/12/2021,True,False,4768,12/8/2021,True
...,...,...,...,...,...,...,...,...,...
992,smacavddyrk,425-439-6423,Aliquam quis turpis eget elit sodales sceleris...,4/24/2020,True,True,9085,6/26/2021,False
995,delcouxrn,599-998-2051,Sed ante. Vivamus tortor. Duis mattis egestas ...,1/11/2021,True,False,5693,3/20/2021,True
996,cleadbeaterro,133-487-1114,Suspendisse potenti. In eleifend quam a odio. ...,3/1/2021,True,True,5394,11/7/2020,True
997,lbaynomrp,847-815-7187,Fusce posuere felis sed lacus. Morbi sem mauri...,10/10/2020,True,True,3473,3/9/2022,False
998,sarntzenrq,650-129-3220,Quisque porta volutpat erat. Quisque erat eros...,10/12/2022,True,True,1390,11/21/2022,True

In [225]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

telegram_accounts.loc[telegram_accounts.is_verified]

,username,phone_number,bio,last_seen,is_verified,is_private,total_messages,last_message_date,is_online
2,ehendrich2,324-800-7471,"Mauris enim leo, rhoncus sed, vestibulum sit a...",3/11/2022,True,True,3412,3/11/2022,False
6,pbowley6,381-752-8649,"Mauris enim leo, rhoncus sed, vestibulum sit a...",3/10/2021,True,True,8099,8/31/2022,False
7,etooting7,514-659-4184,Duis consequat dui nec nisi volutpat eleifend....,7/4/2022,True,True,8478,8/31/2020,True
8,talforde8,596-111-1142,Curabitur in libero ut massa volutpat convalli...,8/6/2020,True,True,350,7/14/2022,False
10,hkalinskya,994-997-9390,Duis consequat dui nec nisi volutpat eleifend....,6/12/2021,True,False,4768,12/8/2021,True
...,...,...,...,...,...,...,...,...,...
992,smacavddyrk,425-439-6423,Aliquam quis turpis eget elit sodales sceleris...,4/24/2020,True,True,9085,6/26/2021,False
995,delcouxrn,599-998-2051,Sed ante. Vivamus tortor. Duis mattis egestas ...,1/11/2021,True,False,5693,3/20/2021,True
996,cleadbeaterro,133-487-1114,Suspendisse potenti. In eleifend quam a odio. ...,3/1/2021,True,True,5394,11/7/2020,True
997,lbaynomrp,847-815-7187,Fusce posuere felis sed lacus. Morbi sem mauri...,10/10/2020,True,True,3473,3/9/2022,False
998,sarntzenrq,650-129-3220,Quisque porta volutpat erat. Quisque erat eros...,10/12/2022,True,True,1390,11/21/2022,True

In [226]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

telegram_accounts.loc[telegram_accounts.is_verified==False]

,username,phone_number,bio,last_seen,is_verified,is_private,total_messages,last_message_date,is_online
0,jfound0,730-393-9220,"Vestibulum quam sapien, varius ut, blandit non...",5/12/2021,False,True,9285,8/12/2020,False
1,gsoule1,244-674-2095,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",11/23/2022,False,False,4680,1/26/2020,True
3,rkiernan3,874-302-6761,Duis consequat dui nec nisi volutpat eleifend....,3/23/2022,False,False,9182,6/11/2021,True
4,bcopp4,270-836-3899,Curabitur in libero ut massa volutpat convalli...,12/29/2020,False,False,6521,8/21/2021,False
5,adurrant5,287-651-4316,"Sed sagittis. Nam congue, risus semper porta v...",7/9/2022,False,False,1102,8/24/2021,False
...,...,...,...,...,...,...,...,...,...
990,dcrudgeri,828-160-5337,Cum sociis natoque penatibus et magnis dis par...,10/2/2022,False,True,2163,7/6/2022,False
991,pgarrattrj,193-514-1841,Fusce consequat. Nulla nisl. Nunc nisl.,12/27/2021,False,False,2263,5/3/2021,False
993,wkimberlyrl,172-353-9166,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",1/13/2020,False,False,3590,3/12/2022,True
994,fmeusrm,263-413-2939,Quisque porta volutpat erat. Quisque erat eros...,4/18/2021,False,True,8072,6/14/2021,False
999,rkingcottrr,433-656-5751,Cum sociis natoque penatibus et magnis dis par...,12/23/2020,False,True,6200,3/6/2020,True

In [279]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
telegram_accounts.loc[check_name_and_lenth_verified]

,username,phone_number,bio,last_seen,is_verified,is_private,total_messages,last_message_date,is_online
0,jfound0,730-393-9220,"Vestibulum quam sapien, varius ut, blandit non...",5/12/2021,False,True,9285,8/12/2020,False
1,gsoule1,244-674-2095,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",11/23/2022,False,False,4680,1/26/2020,True
3,rkiernan3,874-302-6761,Duis consequat dui nec nisi volutpat eleifend....,3/23/2022,False,False,9182,6/11/2021,True
4,bcopp4,270-836-3899,Curabitur in libero ut massa volutpat convalli...,12/29/2020,False,False,6521,8/21/2021,False
5,adurrant5,287-651-4316,"Sed sagittis. Nam congue, risus semper porta v...",7/9/2022,False,False,1102,8/24/2021,False
...,...,...,...,...,...,...,...,...,...
990,dcrudgeri,828-160-5337,Cum sociis natoque penatibus et magnis dis par...,10/2/2022,False,True,2163,7/6/2022,False
991,pgarrattrj,193-514-1841,Fusce consequat. Nulla nisl. Nunc nisl.,12/27/2021,False,False,2263,5/3/2021,False
993,wkimberlyrl,172-353-9166,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",1/13/2020,False,False,3590,3/12/2022,True
994,fmeusrm,263-413-2939,Quisque porta volutpat erat. Quisque erat eros...,4/18/2021,False,True,8072,6/14/2021,False
999,rkingcottrr,433-656-5751,Cum sociis natoque penatibus et magnis dis par...,12/23/2020,False,True,6200,3/6/2020,True

In [287]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified]
len(not_verified)

505

In [289]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified]
len(not_verified.head())

5

In [291]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified]
not_verified.head()

,username,phone_number,bio,last_seen,is_verified,is_private,total_messages,last_message_date,is_online
0,jfound0,730-393-9220,"Vestibulum quam sapien, varius ut, blandit non...",5/12/2021,False,True,9285,8/12/2020,False
1,gsoule1,244-674-2095,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",11/23/2022,False,False,4680,1/26/2020,True
3,rkiernan3,874-302-6761,Duis consequat dui nec nisi volutpat eleifend....,3/23/2022,False,False,9182,6/11/2021,True
4,bcopp4,270-836-3899,Curabitur in libero ut massa volutpat convalli...,12/29/2020,False,False,6521,8/21/2021,False
5,adurrant5,287-651-4316,"Sed sagittis. Nam congue, risus semper porta v...",7/9/2022,False,False,1102,8/24/2021,False

In [76]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_online']]
not_verified

        username                                                bio  is_online
0        jfound0  Vestibulum quam sapien, varius ut, blandit non...      False
1        gsoule1  Proin eu mi. Nulla ac enim. In tempor, turpis ...       True
3      rkiernan3  Duis consequat dui nec nisi volutpat eleifend....       True
4         bcopp4  Curabitur in libero ut massa volutpat convalli...      False
5      adurrant5  Sed sagittis. Nam congue, risus semper porta v...      False
..           ...                                                ...        ...
990    dcrudgeri  Cum sociis natoque penatibus et magnis dis par...      False
991   pgarrattrj            Fusce consequat. Nulla nisl. Nunc nisl.      False
993  wkimberlyrl  Proin eu mi. Nulla ac enim. In tempor, turpis ...       True
994      fmeusrm  Quisque porta volutpat erat. Quisque erat eros...      False
999  rkingcottrr  Cum sociis natoque penatibus et magnis dis par...       True

[505 rows x 3 columns]

In [88]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts.loc[:, 'username': 'bio']

,username,phone_number,bio
0,jfound0,730-393-9220,"Vestibulum quam sapien, varius ut, blandit non..."
1,gsoule1,244-674-2095,"Proin eu mi. Nulla ac enim. In tempor, turpis ..."
2,ehendrich2,324-800-7471,"Mauris enim leo, rhoncus sed, vestibulum sit a..."
3,rkiernan3,874-302-6761,Duis consequat dui nec nisi volutpat eleifend....
4,bcopp4,270-836-3899,Curabitur in libero ut massa volutpat convalli...
...,...,...,...
995,delcouxrn,599-998-2051,Sed ante. Vivamus tortor. Duis mattis egestas ...
996,cleadbeaterro,133-487-1114,Suspendisse potenti. In eleifend quam a odio. ...
997,lbaynomrp,847-815-7187,Fusce posuere felis sed lacus. Morbi sem mauri...
998,sarntzenrq,650-129-3220,Quisque porta volutpat erat. Quisque erat eros...
999,rkingcottrr,433-656-5751,Cum sociis natoque penatibus et magnis dis par...

In [92]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts.loc[:, ['username', 'phone_number', 'bio']]

,username,phone_number,bio
0,jfound0,730-393-9220,"Vestibulum quam sapien, varius ut, blandit non..."
1,gsoule1,244-674-2095,"Proin eu mi. Nulla ac enim. In tempor, turpis ..."
2,ehendrich2,324-800-7471,"Mauris enim leo, rhoncus sed, vestibulum sit a..."
3,rkiernan3,874-302-6761,Duis consequat dui nec nisi volutpat eleifend....
4,bcopp4,270-836-3899,Curabitur in libero ut massa volutpat convalli...
...,...,...,...
995,delcouxrn,599-998-2051,Sed ante. Vivamus tortor. Duis mattis egestas ...
996,cleadbeaterro,133-487-1114,Suspendisse potenti. In eleifend quam a odio. ...
997,lbaynomrp,847-815-7187,Fusce posuere felis sed lacus. Morbi sem mauri...
998,sarntzenrq,650-129-3220,Quisque porta volutpat erat. Quisque erat eros...
999,rkingcottrr,433-656-5751,Cum sociis natoque penatibus et magnis dis par...

In [117]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts[['username','phone_number','bio']]

,username,phone_number,bio
0,jfound0,730-393-9220,"Vestibulum quam sapien, varius ut, blandit non..."
1,gsoule1,244-674-2095,"Proin eu mi. Nulla ac enim. In tempor, turpis ..."
2,ehendrich2,324-800-7471,"Mauris enim leo, rhoncus sed, vestibulum sit a..."
3,rkiernan3,874-302-6761,Duis consequat dui nec nisi volutpat eleifend....
4,bcopp4,270-836-3899,Curabitur in libero ut massa volutpat convalli...
...,...,...,...
995,delcouxrn,599-998-2051,Sed ante. Vivamus tortor. Duis mattis egestas ...
996,cleadbeaterro,133-487-1114,Suspendisse potenti. In eleifend quam a odio. ...
997,lbaynomrp,847-815-7187,Fusce posuere felis sed lacus. Morbi sem mauri...
998,sarntzenrq,650-129-3220,Quisque porta volutpat erat. Quisque erat eros...
999,rkingcottrr,433-656-5751,Cum sociis natoque penatibus et magnis dis par...

In [133]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_verified', 'is_online']]
not_verified

df_copy = not_verified.copy()
df_copy.is_verified = True
df_copy

,username,bio,is_verified,is_online
0,jfound0,"Vestibulum quam sapien, varius ut, blandit non...",True,False
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",True,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,True,True
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,True,False
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",True,False
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,True,False
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,True,False
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",True,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,True,False
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,True,True

In [134]:
not_verified

,username,bio,is_verified,is_online
0,jfound0,"Vestibulum quam sapien, varius ut, blandit non...",False,False
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,False,True
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,False,False
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",False,False
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,False,False
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,False,False
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,False,False
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,False,True

In [142]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_verified', 'is_online']]
not_verified

df_copy = not_verified.copy()
df_copy['is_verified']=True
df_copy

,username,bio,is_verified,is_online
0,jfound0,"Vestibulum quam sapien, varius ut, blandit non...",True,False
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",True,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,True,True
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,True,False
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",True,False
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,True,False
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,True,False
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",True,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,True,False
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,True,True

In [143]:
not_verified

,username,bio,is_verified,is_online
0,jfound0,"Vestibulum quam sapien, varius ut, blandit non...",False,False
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,False,True
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,False,False
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",False,False
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,False,False
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,False,False
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,False,False
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,False,True

In [147]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_verified', 'is_online']]
not_verified

df_copy = not_verified.copy()
df_copy.loc[:,'is_verified']= True
df_copy

,username,bio,is_verified,is_online
0,jfound0,"Vestibulum quam sapien, varius ut, blandit non...",True,False
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",True,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,True,True
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,True,False
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",True,False
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,True,False
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,True,False
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",True,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,True,False
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,True,True

In [148]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_verified', 'is_online']]
not_verified

df_copy = not_verified.copy()
df_copy.loc[:,['is_verified', 'is_online']]= True, True
df_copy

,username,bio,is_verified,is_online
0,jfound0,"Vestibulum quam sapien, varius ut, blandit non...",True,True
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",True,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,True,True
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,True,True
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",True,True
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,True,True
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,True,True
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",True,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,True,True
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,True,True

In [149]:
not_verified

,username,bio,is_verified,is_online
0,jfound0,"Vestibulum quam sapien, varius ut, blandit non...",False,False
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,False,True
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,False,False
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",False,False
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,False,False
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,False,False
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,False,False
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,False,True

In [198]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_verified', 'is_online']]
not_verified

df_copy = not_verified.copy()
df_copy.loc[(df_copy.is_verified==False) & (df_copy.username=='jfound0'), ['username', 'is_verified']]

  username  is_verified
0  jfound0        False

In [200]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_verified', 'is_online']]
not_verified

df_copy = not_verified.copy()
df_copy.loc[(df_copy.is_verified==False) & (df_copy.username=='jfound0'), ['username']] = 'Idrak'
df_copy

,username,bio,is_verified,is_online
0,Idrak,"Vestibulum quam sapien, varius ut, blandit non...",False,False
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,False,True
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,False,False
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",False,False
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,False,False
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,False,False
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,False,False
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,False,True

In [201]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_verified', 'is_online']]
not_verified

df_copy = not_verified.copy()
df_copy.loc[(df_copy.is_verified==False) & (df_copy.username=='jfound0'), ['username', 'is_verified']] = 'Idrak', True
df_copy

,username,bio,is_verified,is_online
0,Idrak,"Vestibulum quam sapien, varius ut, blandit non...",True,False
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,False,True
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,False,False
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",False,False
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,False,False
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,False,False
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,False,False
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,False,True

In [218]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_verified', 'is_online']]
not_verified

df_copy = not_verified.copy()
df_copy.loc[(df_copy.username=='rkiernan3') & ((df_copy.is_verified==True)|(df_copy.is_online==True)) , 
            ['username', 'is_verified', 'is_online']]

    username  is_verified  is_online
3  rkiernan3        False       True

In [221]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_verified', 'is_online']]
not_verified

df_copy = not_verified.copy()
df_copy.loc[(df_copy.username=='rkiernan3') & ((df_copy.is_verified==True)|(df_copy.is_online==True)) , 
            ['is_verified', 'is_online']] = True, False
df_copy

,username,bio,is_verified,is_online
0,jfound0,"Vestibulum quam sapien, varius ut, blandit non...",False,False
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,True,False
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,False,False
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",False,False
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,False,False
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,False,False
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,False,False
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,False,True

In [223]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')

check_name_and_lenth_verified = (telegram_accounts.is_verified==False) & (len(telegram_accounts.username)>10)
not_verified = telegram_accounts.loc[check_name_and_lenth_verified, ["username",'bio', 'is_verified', 'is_online']]
not_verified

df_copy = not_verified.copy()
df_copy.loc[(df_copy.username=='rkiernan3') & ((df_copy.is_verified==True)|(df_copy.is_online==True)) , 
            'is_verified':'is_online'] = True, False
df_copy

,username,bio,is_verified,is_online
0,jfound0,"Vestibulum quam sapien, varius ut, blandit non...",False,False
1,gsoule1,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
3,rkiernan3,Duis consequat dui nec nisi volutpat eleifend....,True,False
4,bcopp4,Curabitur in libero ut massa volutpat convalli...,False,False
5,adurrant5,"Sed sagittis. Nam congue, risus semper porta v...",False,False
...,...,...,...,...
990,dcrudgeri,Cum sociis natoque penatibus et magnis dis par...,False,False
991,pgarrattrj,Fusce consequat. Nulla nisl. Nunc nisl.,False,False
993,wkimberlyrl,"Proin eu mi. Nulla ac enim. In tempor, turpis ...",False,True
994,fmeusrm,Quisque porta volutpat erat. Quisque erat eros...,False,False
999,rkingcottrr,Cum sociis natoque penatibus et magnis dis par...,False,True

In [211]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts.columns

Index(['username', 'phone_number', 'bio', 'last_seen', 'is_verified',
       'is_private', 'total_messages', 'last_message_date', 'is_online'],
      dtype='object')

In [181]:
import pandas as pd

telegram_accounts = pd.read_csv(r'C:\Users\dell\Desktop\img\MOCK_DATA.csv')
telegram_accounts.index

RangeIndex(start=0, stop=1000, step=1)